<div id="grid_widget_{{widget_identifier}}">
    <table id="{{grid_id}}">
        <thead>
        <tr>
            {% for item_value in header %}
            <th> {{  item_value }} </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody id="grid_rows_{{widget_identifier}}">
            {% for row in rows %}
                <tr id="{{grid_id}}_row_{{loop.index}}">
                    {% for cell_value in row %}
                    <td>{{ cell_value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

